*{
    font-family: Menlo,Monaco,Lucida Console,'Courier New',Courier,monospace;
    color: black;
}
body{
    background-color: whitesmoke;
}
.main{
    background-color: white;
}
footer{
    color: whitesmoke;
    background: gray;
}
.nav-link {
    color: black;
}
.btn{
    background-color: whitesmoke;
}